@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Uncial+Antiqua&display=swap');

$custom-font-family: 'Quattrocento Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$header-font-family: 'Uncial Antiqua', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",  Roboto, "Helvetica Neue", Arial, sans-serif !default;
//$table-font-family: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",  Roboto, "Helvetica Neue", Arial, sans-serif !default;

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family !important;
}

.site-title {
    font-family: $header-font-family !important;
    text-transform: uppercase;
}


body {
    font-family: $custom-font-family;
  }

.archetipi {
    columns: 2;
    column-fill: balance;
}

.archetipo {
    break-inside: avoid-column;
    text-align: left;
}

.archetipo ul {
    list-style-type: none; /* Remove bullets */
    //padding: 0; /* Remove padding */
    //margin: 0; /* Remove margins */
    //break-inside: avoid-column;
    display: inline-block;
}


.archetipo ul > li {
    list-style-type: none !important;
}