@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Uncial+Antiqua');

@page {
    size: 5.5in 8.5in; /* Change from the default size of A4 */
    margin: 0.5in; /* Set margin on each page */
    @bottom-center {
        content: counter(page);
        font-size: 12;
        font-family: 'Uncial Antiqua';
    }
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Uncial Antiqua' !important;
    page-break-after: avoid;
}

h1 {
    page-break-before: right;
}

body {
    font-family: 'Quattrocento Sans';
    font-size: 10pt;
    text-align: justify;
  }

  #archetipi-di-base, #archetipi-focalizzati  {
    page-break-before: always;
}


.archetipi {
    columns: 2;
    column-fill: balance;
}

.archetipo {
    break-inside: avoid-column;
    text-align: left;
}

.archetipo ul {
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    /* break-inside: avoid-column;
    overflow: hidden;
    -webkit-column-break-inside: avoid; */
    display: inline-block;
}

.archetipo ul > li {
    list-style-type: none !important;
}

.competenze-lista {
    columns: 5;
    column-fill: balance;
    text-align: left;
    margin-bottom: 1em;
}

.competenze-lista ul {
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    /* break-inside: avoid-column;
    overflow: hidden;
    -webkit-column-break-inside: avoid; */
}

.competenze-lista ul > li {
    list-style-type: none !important;
}

p, blockquote, ul, ol, dl, table, pre {
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  a, a:hover {
      color: #000;
  }

p {
    word-spacing:-1px;
    hyphens: auto;
}

blockquote {
    font-style: italic;
    page-break-inside: avoid;
}  